{
    "presets": [
        [
            "env"
        ]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "Modules": "/scripts/partials",
                "Components": "/components"
            }
        }]
    ]
}