.svg-footer__logo-dims {
	width: 98px;
	height: 34px;
}

.svg-logotype-dims {
	width: 293px;
	height: 43px;
}

.svg-partner1-dims {
	width: 109px;
	height: 86px;
}

.svg-partner2-dims {
	width: 76px;
	height: 88px;
}

.svg-partner3-dims {
	width: 97px;
	height: 81px;
}

.svg-partner4-dims {
	width: 148px;
	height: 62px;
}

.svg-partner5-dims {
	width: 116px;
	height: 86px;
}

.svg-partner6-dims {
	width: 110px;
	height: 76px;
}

.svg-security-dims {
	width: 79px;
	height: 52px;
}

