<!DOCTYPE html>
html(lang="ru")
	include components/_default/head/head.pug
	body

		.wrapper
		
			include components/_default/header/header.pug
					
			.container

				include components/main/index.pug

			include components/_default/footer/footer.pug
