head
	meta(charset="utf-8")
	title Расчетные системы тестовое
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	meta(name="format-detection" content="telephone=no")

	//- favicon links block

	//- link(rel="apple-touch-icon" sizes="180x180" href = assetsDir + "images/apple-touch-icon.png")
	//- link(rel="icon" type="image/png" sizes="32x32" href = assetsDir + "images/favicon-32x32.png")
	//- link(rel="icon" type="image/png" sizes="16x16" href = assetsDir + "images/favicon-16x16.png")
	link(rel="icon" type="image/ico" href = assetsDir + "images/favicon.ico")
	//- link(rel="manifest" href = assetsDir + "images/site.webmanifest")
	//- link(rel="mask-icon" href = assetsDir + "images/safari-pinned-tab.svg" color="#5bbad5")

	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	
	link( rel = "stylesheet" href = assetsDir + "styles/main.css")

	script(src = assetsDir + "scripts/main.dev.js")